/* Table */

table {
  width: 60%;
}

header {
  font-weight: bold;
  margin-bottom: 2.5vh;
}

body {
  font-family: verdana;
  font-size: 2.5vh;
}

table, th, tr, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: arial;
  font-size: 3vh;
  color: darkslateblue;
  padding: 1vh;
}

input {
  height: 2.5vh;
}

.bold {
  font-weight:  bold;
}

.input {
  margin: 2.5vh;
  box-shadow: 0.5vh 0.5vh 0.5vh #888888;
  padding: 2vh;
  background-color: lightgrey;
}

button {
  display: inline-block;
  padding: 1vh 2vh;
  font-size: 3vh;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: darkslateblue;
  border: none;
  border-radius: 3vh;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(1vh);
}